BasedOnStyle: Microsoft
AccessModifierOffset: "-4"
AlignEscapedNewlines: Left
AllowShortEnumsOnASingleLine: "true"
AllowShortBlocksOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: "false"
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: Empty
AllowShortLoopsOnASingleLine: "false"
AlwaysBreakTemplateDeclarations: "Yes"
ColumnLimit: "120"
FixNamespaceComments: "true"
IncludeBlocks: Merge
IndentCaseLabels: "true"
IndentWidth: "4"
NamespaceIndentation: All
SpaceAfterTemplateKeyword: "false"
SpaceBeforeCpp11BracedList: "true"
SpacesBeforeTrailingComments: "2"
TabWidth: "4"
UseTab: Never
